.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}

.input-emoji-structure {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}
